- name: Setup and install all kubernetes nodes dependencies 
  hosts: all
  user: ubuntu
  strategy: free
  become: yes
  roles:
    - nodes

- name: Bootstrap and initilize kubernetes cluster
  hosts: master
  user: ubuntu
  become: yes
  roles:
    - master

- name: Add worker to kubernetes cluster
  hosts: worker
  user: ubuntu
  strategy: free
  become: yes
  roles:
    - worker

- name: Deploy App On Top Of Kubernetes
  hosts: master
  user: ubuntu
  become: yes
  roles:
    - app