- name: Setup and install all kubernetes nodes dependencies 
  hosts: all
  user: ubuntu
  strategy: free
  become: yes
  roles:
    - nodes

- name: Bootstrap and initilize kubernetes cluster
  hosts: master
  user: ubuntu
  become: yes
  roles:
    - master

- name: Add worker to kubernetes cluster
  hosts: worker
  user: ubuntu
  strategy: free
  become: yes
  roles:
    - worker

- name: Deploy App On Top Of Kubernetes
  hosts: master
  user: ubuntu
  become: yes
  roles:
    - app

- name:  Fetch manifest directory from remote to local
  hosts: master
  become: yes
  tasks:
    - name: Ensure rsync exists on remote
      package:
        name: rsync
        state: present
    - name: Ensure rsync exists on controller
      package:
        name: rsync
        state: present
      delegate_to: localhost
      become: false
    - name: Fetch manifest directory from remote to local
      ansible.builtin.synchronize:
        mode: pull
        src: "{{ manifest_dir }}/"
        dest: "./artifacts/{{ manifest_dir }}/"
        recursive: yes
        rsync_path: "sudo rsync"
      delegate_to: localhost