apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb_pool_name }}
  namespace: {{ metallb_namespace }}
spec:
  addresses:
{% for range in metallb_ip_ranges %}
  - {{ range }}
{% endfor %}