- name: Render Grafana Helm values
  template:
    src: grafana-values.yaml.j2
    dest: "{{ manifest_dir }}/grafana-values.yaml"

- name: Deploy Grafana
  shell: >
    helm upgrade --install grafana grafana/grafana
    --namespace {{ monitoring_namespace }}
    --version {{ grafana_chart_version }}
    -f {{ manifest_dir }}/grafana-values.yaml
  register: grafana_helm_output
  environment:
    KUBECONFIG: "{{ ansible_user_dir }}/.kube/config"

- name: Save Grafana helm output
  copy:
    dest: "{{ manifest_dir }}/grafana-helm-output.txt"
    content: "{{ grafana_helm_output.stdout }}"
